@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

:root {
  --border-radius: 0.5rem;

  --colors-white-primary: #fff;
  --colors-white-secondary: #eee;
  --colors-white-tertiary: #657786;
  --colors-black: #000;
  --colors-primary: #4361ee;
  --colors-secondary: #1c5480;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;

  background-image: radial-gradient(
      rgba(67, 97, 238, 0.5) 0.1rem,
      transparent 0.1rem
    ),
    radial-gradient(rgba(67, 97, 238, 0.5) 0.1rem, transparent 0.1rem);
  background-position: 0 0, 2.5rem 2.5rem;
  background-size: 5rem 5rem;
  background-color: #eef2f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
}

a {
  text-decoration: none;

  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  width: auto;
  height: 100%;

  object-fit: contain;
}

button {
  border: none;
  border-radius: 0.3rem;

  cursor: pointer;

  outline: none;
}

textarea {
  outline: none;

  border: none;

  padding: 2rem;

  resize: none;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 320px) {
  body {
    font-size: 1.8rem;
  }
}
